.trfListView {
    text-align: left;
    height: 100%;
    width: 100%;
    font-size: 0.75rem;
}

.trfListView .rs-table-cell-content:has(span[result~="SUCCESS"]) {
    background-color: green;
}

.trfListView .rs-table-cell-content:has(span[result~="FAILED"]) {
    background-color: red;
}

.trfListView .rs-table-cell-content:has(span[result~="ERROR"]) {
    background-color: darkred;
}

.trfListView .rs-table-cell-content:has(span[result~="NONE"]) {
    background-color: gray;
}