.trfTreeView {
  text-align: left;
  overflow: scroll;
  display: flex;
  height: 100%;
  width: 100%;
}

.trfTreeView .MuiTreeItem-root[result~='SUCCESS'] {
  background-color: green;
}

.trfTreeView .MuiTreeItem-root[result~='FAILED'] {
  background-color: red;
}

.trfTreeView .MuiTreeItem-root[result~='ERROR'] {
  background-color: darkred;
}

.trfTreeView .MuiTreeItem-root[result~='NONE'] {
  background-color: gray;
}
.trfTreeView .MuiTreeItem-root[result~='INCONCLUSIVE'] {
  background-color: orange;
}
